@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

:root {
  @apply bg-neutral-950 text-neutral-50 bg-cover bg-center;
  background-image: url("$/assets/wallpaper.jpg");
  cursor: url("$/assets/cursors/Default.svg"), auto;

  @apply **:scroll-smooth;
}

body > div {
  @apply min-h-screen;
  @apply flex flex-col;

  main {
    @apply flex-1;
  }
}

a,
button,
input,
select {
  cursor: url("$/assets/cursors/Click.svg"), pointer;
}

.font-menubar {
  text-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.window {
  @apply rounded-lg bg-blend-multiply;
  box-shadow: 0px 36px 100px 0px rgba(0, 0, 0, 0.4),
    0px 0px 3px 0px rgba(0, 0, 0, 0.55);
  will-change: transform, opacity;
  backface-visibility: hidden;
  perspective: 1000;
  z-index: 1000;
}

.window[data-active="false"] {
  user-select: none;
  pointer-events: none;
}

.window[data-focus="true"] {
  z-index: 9999999999999;
}
